@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* START OF CSS RESET */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.circle-1,
.circle-2,
.circle-3 {
  height: 150px;
  width: 150px;
}

.circle-1 {
  background-color: violet;
  border-radius: 300px;
  filter: blur(100px);
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.circle-2 {
  background-color: aqua;
  border-radius: 300px;
  filter: blur(100px);
  position: absolute;
  top: 50px;
}

.circle-3 {
  background-color: #fac88e;
  border-radius: 300px;
  filter: blur(100px);
  position: absolute;
  bottom: 250px;
  right: 150px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  padding: 2rem;
  width: 400px;
  z-index: 9999;
}

.card>img {
  border: 1px solid black;
  border-radius: 100px;
  height: 175px;
  justify-content: center;
  width: 175px;
}

.card-body h2 {
  font-weight: 700;
}

.card-body h4 {
  color: darkslategray;
  font-weight: 300;
  margin-bottom: 0.75rem;
}

.card-body-lower {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-body-lower ul {
  display: flex;
  margin: 1.5rem 0 2rem 0;
}

.card-body-lower ul>li {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: 0 1rem;
}

.card-body-lower ul>li:first-child {
  border-right: 1px solid black;
  padding-left: 0;
}

.card-body-lower ul>li:last-child {
  border-left: 1px solid black;
  padding-right: 0;
}

.card-body-lower .buttons {
  display: flex;
  gap: 1rem;
}

.card-body-lower .buttons>button {
  border: 1px solid black;
  border-radius: 7.5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  min-width: 125px;
}

button.cyan {
  background-color: #AEF1F5;
}

button.cyan:hover {
  background-color: #7BEED9;
}

button.cyan:active {
  background-color: black;
  color: #7BEED9;
}

button.gold {
  background-color: #FFDDB6;
}

button.gold:hover {
  background-color: #FFC48E;
}

button.gold:active {
  background-color: black;
  color: #FFC48E;
}

@media only screen and (min-width: 768px) {

  .circle-1,
  .circle-2,
  .circle-3 {
    height: 300px;
    width: 300px;
  }

  .circle-1 {
    filter: blur(200px);
    bottom: 10px;
    left: 300px;
  }

  .circle-2 {
    filter: blur(200px);
    top: 50px;
  }

  .circle-3 {
    filter: blur(200px);
    bottom: 150px;
    right: 300px;
  }

  .card {
    flex-direction: row;
    width: 700px;
  }

  .card>img {
    margin-left: 4rem;
  }

  .card-body {
    padding: 3rem 0;
  }

  .card-body-lower {
    display: block;
  }
}